<div class="profile">

  <div class="avatar">
    <mat-icon>person</mat-icon>
  </div>

  <h3>Alfredo Leal</h3>

  <p>alfredo@gmail.com</p>

</div>

<mat-divider></mat-divider>

<mat-nav-list class="menu">

  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Home</span>
  </a>

  <a mat-list-item routerLink="/categorias" routerLinkActive="active">
    <mat-icon matListItemIcon>category</mat-icon>
    <span matListItemTitle>Categorías</span>
  </a>

  <a mat-list-item routerLink="/productos" routerLinkActive="active">
    <mat-icon matListItemIcon>shopping_cart</mat-icon>
    <span matListItemTitle>Productos</span>
  </a>

</mat-nav-list>